<div class="container">
  <div class="content">
    <form (submit)="onSubmit()">
      <mat-form-field class="mat-form-element">
        <mat-label for="username">Username</mat-label>
        <input matInput type="text" [(ngModel)]="username" name="username" required>
      </mat-form-field>
  
      <mat-form-field class="mat-form-element">
        <mat-label for="password">Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" name="password" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide" type="button">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
  
      <div class="btn-container">
        <button mat-raised-button color="primary" type="button">Recover Password</button>
        <button mat-raised-button color="primary" type="button" routerLink="/register">New Account</button>
        <button mat-raised-button color="primary" type="submit">Continue</button>
      </div>
    </form>
  </div>
</div>