.container {
    margin: 16px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    padding: 10px;
   }
   
   mat-grid-list {
    width: 100%;
   }
   
   mat-grid-tile {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
   }
   
   @media (max-width: 767px) {
       .container {
          padding: 0;
       }
      }
    