<div class="container">
    <mat-card class="home-card">
        <mat-card-title class="title">Welcome!</mat-card-title>
        <mat-card-content>
            This is a simple Angular app that uses the Material Design framework. 
            It's built with Angular CLI, and includes various components like cards, inputs and validators. 
            This is an ongoing personal project that is meant to show my expertise with front-end development. 
            I'm currently working on the login page, probably next to a cup of caramel iced coffee.
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color="primary">Agree</button>
            <button mat-button color="warn">Disagree</button>
          </mat-card-actions>
    </mat-card>
</div>